@using Microsoft_WebSite.DataAccess.Entities
@model AboutUs
@{
    Layout = "_AdminLayout";
}

<!DOCTYPE html>

<html>
<head>
    <title>title</title>
</head>
<body>

    
    
        <h1 style="padding-top: 20px">BURASI ABOUT US SAYFASI</h1>
        <form action="/admin/AboutUs/updateAboutUs" method="post">
            <div class="mb-3">
                <input type="text" class="form-control" name="AboutUsID" value="@Model.AboutUsID" hidden>
                <label for="exampleFormControlInput1" class="form-label">Title</label>
                <input type="text" class="form-control" name="AboutUsTitle" value="@Model.AboutUsTitle">
            </div>
            <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">Açıklama</label>
                <textarea class="form-control" aria-label="With textarea" name="AboutUsContent" >@Model.AboutUsContent</textarea>
            </div>
            <div class="mb-3">
                <button type="submit" class="btn btn-success">Success</button>
            </div>
        </form>
   

</body>
</html>