@model Microsoft_WebSite.DataAccess.Entities.User
@{
    Layout = "_AdminLayout";
}

<!DOCTYPE html>

<html>
<head>
    <title>title</title>
</head>
<body>
<div>
    <h1 style="padding-top: 20px">
        
        
    </h1>
</div>
</body>
</html>